.search-input {
  width: 25rem;
  height: 2.5rem;
  padding-left: 3rem;
  padding-right: 1rem;
  border-radius: 2rem;
  border: 1px solid var(--secondary-dark);
  outline: none;
}

.search-input:focus {
  outline: 1px solid var(--secondary-dark);
}

.search-icon {
  padding: 0 0.8rem 0 1rem;
  margin-right: -2.95rem;
  z-index: 1;
  color: var(--secondary-dark);
}
