@import url("../../../styles.css");

.filter-block {
  width: 20rem;
  height: 100%;
  padding: 2rem 3rem;
}

.filter-header {
  font-size: large;
}

.filter-clear {
  text-decoration: underline;
}

.price-selector {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.filter-category {
  flex-direction: column;
  row-gap: 0.5rem;
}

.filter-category > label {
}

.filters {
  accent-color: var(--secondary-color);
}
