@import url("../../../styles.css");

.filter-block {
  width: 20rem;
  height: calc(100vh - 100px);
  padding: 2rem 3rem;
  border-right: 1px solid black;
}

.filter-header {
  font-size: large;
}

.filter-clear {
  text-decoration: underline;
}

.price-selector {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.filter-category {
  flex-direction: column;
  row-gap: 0.5rem;
}

.filters {
  accent-color: var(--secondary-color);
}
