@import url("../../../styles.css");

.filter-gifts {
  display: flex;
}

.gifts-head {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.gifts-show {
  padding: 1rem 3rem;
}

.gift-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gift-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0.5rem;
  width: 15.5rem;
  height: 24.5rem;
  position: relative;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.gift-details {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  align-items: flex-start;
}

.gift-image {
  display: flex;
  align-items: center;
  width: 15rem;
  height: 15rem;
}

.card-btn {
  padding: 0.6rem;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  width: 100%;
  color: white;
  background-color: var(--secondary-color);
  font-weight: bold;
  font-size: 1rem;
}

.card-badge {
  position: absolute;
  background-color: #fff;
  border-radius: 999px;
  box-shadow: 4px 4px 4px gray;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* .red-fav:hover {
  color: blue;
} */

.card-badge .red-fav {
  color: red;
}

.material-symbols-outlined:hover {
  color: pink !important;
}

.card-header {
  flex-direction: column;
}

.fw-icon-cart {
  color: white;
}
