.category {
  display: flex;
  justify-content: space-around;
}

.category-card {
  width: 8rem;
  height: 8rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  align-items: center;
}

.card-title {
  padding: 1rem;
  font-weight: bold;
}

.category-img {
  width: 6rem;
  height: 6rem;
  border-radius: 7rem;
}

.links {
  text-decoration: none;
  color: black;
}
