.category {
  display: flex;
  justify-content: space-around;
}

.category-card {
  width: 10rem;
  height: 10rem;
  border: 1px solid green;
  text-align: center;
}

.category-img {
  width: 8rem;
  height: 6rem;
  border-radius: 7rem;
}
