.category {
  display: flex;
  justify-content: space-around;
}

.category-card {
  width: 9rem;
  height: 8.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  /* border-radius: 0.5rem; */
  align-items: center;
  padding: 0.3rem;
  box-shadow: 0 3px 7px 0 var(--primary-color);
  transition: all ease 0.2s;
}

.category-card:hover {
  transform: scale(1.1);
  /* transform: translateY(-5px); */
  box-shadow: 0 3px 7px 0 var(--primary-color);
}
.card-title {
  padding: 0.3rem;
  font-weight: bold;
}

.category-img {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 7rem;
}

/* .item-img {
  -webkit-filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.5));
} */

.links {
  text-decoration: none;
  color: black;
}
