@import url("../../../styles.css");

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-color);
  padding: 1rem;
}

.nav-item {
  align-self: center;
}

.nav-login {
  display: flex;
  align-items: center;
}

.nav-login-item {
  margin: 0px 1rem;
  position: relative;
}

.btn-log {
  padding: 0.4rem 1.4rem;
  border-radius: 2rem;
}

.item-count {
  position: absolute;
  height: 1.1rem;
  min-width: 1rem;
  top: -6px;
  font-size: 1rem;
  left: 65%;
  font-weight: var(--font-bold);
  padding: 0.3rem;
  border-radius: 50%;
  background: #881337;
  color: var(--white-color);
}

.count-text {
  margin-top: 0.1rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.fw-icon {
  color: var(--secondary-color);
}

.brand-name {
  color: white;
  font-weight: bolder;
  font-size: 1.8rem;
}

.btn-log {
  border: 1px solid var(--secondary-dark);
  background-color: var(--secondary-color);
  color: white;
  font-weight: bolder;
}
