.gift-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0.5rem;
  /* align-items: center; */
  width: 15rem;
  height: 25rem;
  position: relative;
}

.gift-detail-image {
  width: 30rem;
  height: 30rem;
}

.card-badge {
  position: absolute;
  background-color: #fff;
  border-radius: 999px;
  box-shadow: 4px 4px 4px gray;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* .red-fav:hover {
  color: blue;
} */

.card-badge .red-fav {
  color: rgb(8, 8, 8);
}

.gift-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0.5rem;
  /* align-items: center; */
  width: 15rem;
  height: 25rem;
  position: relative;
}

.gift-details {
  /* display: flex; */
  flex-direction: column;
  padding: 1rem 1rem;
}

.gift-image {
  display: flex;
  align-items: center;
  width: 15rem;
  height: 15rem;
}
.gift-image,
.gift-list-item,
.card-badge,
.gift-details {
  display: flex;
  align-items: center;
}

.card-btn {
  padding: 0.6rem;
  font: 1rem;
  border: 5px sold blueviolet;
  width: 100%;
}
