.gift-detail-image {
  width: 30rem;
  height: 30rem;
}

.card-badge {
  position: absolute;
  background-color: #fff;
  border-radius: 999px;
  box-shadow: 4px 4px 4px gray;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.card-badge .red-fav {
  color: red;
}

.gift-image {
  display: flex;
  align-items: center;
  width: 15rem;
  height: 15rem;
}

.card-btn {
  padding: 0.6rem;
  font: 1rem;
  border: 5px sold blueviolet;
  width: 100%;
}
