.address-container {
  display: flex;
  flex-direction: column;
}

.address-list-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.basic-details {
  align-items: baseline;
}

.address-details,
.basic-details {
  display: flex;
}

.more-details {
  display: flex;
  flex-direction: column;
}

.address-container {
  line-height: 1.3rem;
}

.paragraph-sm {
  font-size: 0.75rem;
}

.address-btn .btn,
.address-form-btn .btn {
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
  margin: 1rem 0.5rem 2rem 0;
}

.address-add {
  background-color: inherit;
  color: var(--black-color);
  padding: 0;
}
