.create-new-account {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #000;
}

.signup-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4.5rem);
  width: 100%;
  background: #f7f7f7;
}

.signup-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-block-start: 2rem;
  padding-block-end: 4rem;
  padding-inline: 4rem;
  gap: 1rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.input-container {
  width: 100%;
}

.signup-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.signup-input label {
  font-size: 0.8rem;
}

.signup-input input {
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  border: 1px solid #9a9a9a;
}

.create-new-account {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fa-eye-slash {
  position: absolute;
  right: 10px;
  top: 27px;
  font-size: 15px;
  cursor: pointer;
}
.fa-eye {
  position: absolute;
  right: 10px;
  top: 27px;
  font-size: 15px;
  cursor: pointer;
}
